{$TS_CERT_DOMAIN} {
    bind 127.0.0.1
    tls {
        protocols tls1.3
        client_auth {
            mode require_and_verify
            trust_pool file /etc/caddy/pki/client-ca.pem
        }
    }
    reverse_proxy gateway:8080 {
        flush_interval -1
    }
}
